<h1>List Of Events</h1>
<div class="row">
	<input type="search" placeholder="Search An Event" class="form-control"
		ng-model="searchInput">
</div>
<ul>
	<li ng-repeat="event in eventlist |filter:searchInput">
		<h4>
			<b>{{event.Title}}</b>
		</h4>
		<p>
			<b><i>{{event.EventType}}</i></b> :{{event.EventDate}}
		</p>
		<p>{{event.Venue}},{{event.Location}}</p>
	</li>
</ul>
